<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football statistics</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="flex-container">

            <div id="ll">
 
                <a href="/league/laliga"><img src="../img/laliga.png" alt="" width="250" height="150"></a>
            </div>

            <div id="l1">
                <a href="/league/ligue1"><img src="../img/ligue1.png" alt="" width="300" height="250"></a>
            </div>

        </div>

        <div class="flex-container">

            <div id="pl">
                <a href="/league/premierleague"><img src="../img/premierleague.png" alt="" width="320" height="280"></a>
            </div>

        </div>

        <div class="flex-container">

            <div>
                <a href="/league/bundesliga"><img src="../img/bundesliga.png" alt="" width="180" height="180"></a>
            </div>
    
            <div>
                <a href="/league/seriea"><img src="../img/seriea.png" alt="" width="140" height="170"></a>
            </div>

        </div>
           
    </div>
    
</body>
</html>