<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football statistics</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        
        <div class="flex-container">

            <div id="ll">
 
                <a href="ll.html"><img src="../img/ll.png" alt="" width="250" height="150"></a>
            </div>

            <div>
                <a href="l1.html"><img src="../img/l1.png" alt="" width="300" height="250"></a>
            </div>

        </div>

        <div class="flex-container">

            <div id="pl">
                <a href="/premierleague"><img src="../img/pl.png" alt="" width="320" height="280"></a>
            </div>

        </div>

        <div class="flex-container">

            <div>
                <a href="bl.html"><img src="../img/bl.png" alt="" width="180" height="180"></a>
            </div>
    
            <div>
                <a href="sa.html"><img src="../img/sa.png" alt="" width="140" height="170"></a>
            </div>

        </div>
           
    </div>
    
</body>
</html>